<div id="sidebar" class="px-3 py-2">
  <p class="lead text-justify" id="infoSide" [innerHtml]="content | lineBreaks"></p>
</div>
<div class="row px-3 py-2">
  <div class="col-12" id="select">
        <div class="form-group">
      <h4 class="text-center mt-2">You can choose the city you are interested in.</h4>
      <select class="selectpicker form-control" title="Choose one city" data-style="btn-warning" id="selectCountry">
        <option class="px-3">Miami</option>
        <option class="px-3">Los Angeles</option>
        <option class="px-3">New York</option>
        <option class="px-3">Seattle</option>
        <option class="px-3">Las Vegas</option>
        <option class="px-3">Washington</option>
      </select>
    </div>

  </div>
</div>
